.Calculator {
  font-size: 20px;
}

.Calculator div {
  background: #bababa;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
  margin: 7.5% auto;
  width: 85%;
  padding: 0;
}

button {
  border: none;
  padding: 30px 15px;
}

.left {
  background: #e0e0e0;
  text-align: center;
}

.right {
  background: #f39148;
  text-align: center;
}

.result {
  font-family: 'Times New Roman', Times, serif;
  background: #858693;
  color: white;
  font-size: 34px;
  font-weight: 400;
  grid-column: 1/5;
  text-align: right;
}

.zero {
  grid-column: 1/3;
  background: #e0e0e0;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .Calculator div {
    width: 650px;
    margin: 40px auto;
  }
}
